<h5>
    Formato: 
    <a href="/template/customers-to-import.xls" download>
        <i class="material-icons">attach_file</i>
        Plantilla de Excel
    </a>
</h5>

<form action="/importer" method="post" data-remote="true" id="import-form">
    <div class="file-field input-field">
        <div class="btn grey darken-4 light-blue-text text-lighten-3">
            <span>File</span>
            <input id="file-to-import" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
    </div>
    <button class="waves-effect waves-light btn light-blue lighten-3 grey-text text-darken-4">
        <i class="material-icons left">file_download</i>Importar
    </button>
</form>

<div class="row hide" id="spinner">
    <div class="col s12 offset-m1 m10 preloader-center">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row hide" id="result-box">
    <div class="col s12 offset-m1 m10">
        <div class="card-panel">
            <h5 class="result center">Los usuarios fueron importados correctamente</h5>
        </div>
    </div>
</div>