<!DOCTYPE html>
<html>
  <head>
    <title>Importador de Usuarios | Triathlon Catálogos</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="light-blue lighten-3>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Importador de Usuarios - Triathlon Catálogos</a>
      </div>
    </nav>
      
    <div class="container">
      <%= yield %>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
